.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/background.jpg');
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  padding: 0;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.deck-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

/* .choose-cards {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 15px;
} */
/* .deck {
  display: flex;
  justify-content: center;
} */
/* .header-text {
  display: flex;
  flex-direction: column;
} */
/* h3 {
  display: flex;
  flex-direction: column;
} */

img {
  height: 311px;
}

.drafted-card{
  position:relative;
	background: #f90;
  margin: 5px;
}

.drafted-card-button{
  position: absolute;
  z-index: 2;
  top: 44px;
  display: none;
  left: 59px;
}

.drafted-card:hover .drafted-card-button{ 
	display:block;
}

.header {
  /* position: absolute; */
  display: flex;
  top: 0px;
  margin: 0;
  height: 10vh;
  width: 100%;
  background-color: black;

}

.navLinks {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    /* margin-left: 800px; */

}

.Link {
  margin: 20px;
}

.logo {
    
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}

.home-page {
  margin: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.login-form {
  background: linear-gradient(0deg, rgba(0,0,0,0.8239670868347339) 100%, rgba(159,159,159,0.5018382352941176) 100%, rgba(208,208,208,1) 100%);
  padding: 30px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin: 15px;
  margin-top: 165px;
}

.login-form input {
  align-items: center;
}

.footer {
  padding-top: 15px;
  position: absolute;
  justify-content: center;
  text-align: center;
  align-items: center;
  bottom: 0px;
  margin: 0;
  height: 5vh;
  width: 100%;
  background-color: black;
  color: white;
  font-weight: bold;
}

/* .deck-list {
  background: linear-gradient(0deg, rgba(0,0,0,0.8239670868347339) 100%, rgba(159,159,159,0.5018382352941176) 100%, rgba(208,208,208,1) 100%);
  padding: 30px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin: 15px;
  margin-top: 165px;
} */

.deck-container {
  background: linear-gradient(0deg, rgba(0,0,0,0.8239670868347339) 100%, rgba(159,159,159,0.5018382352941176) 100%, rgba(208,208,208,1) 100%);
  padding: 30px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin: 15px;
  margin-top: 165px;
  padding-bottom: 55px;
}

.deck-creation {
  background: linear-gradient(0deg, rgba(0,0,0,0.8239670868347339) 100%, rgba(159,159,159,0.5018382352941176) 100%, rgba(208,208,208,1) 100%);
  padding: 30px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin: 15px;
  margin-top: 165px;
  padding-bottom: 55px;
}

.deck {
  margin: 30px;
}

.edit-deck {
  background: linear-gradient(0deg, rgba(0,0,0,0.8239670868347339) 100%, rgba(159,159,159,0.5018382352941176) 100%, rgba(208,208,208,1) 100%);
  padding: 30px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin: 15px;
  margin-top: 165px;
  padding-bottom: 55px;
}