.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  height: 100%;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  padding: 0;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.draft-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  border: outset;
  border-color: gray;
}

.deck-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  padding: 20px;
}

.about-us {
  margin-bottom: 80px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.about-us-top {
  display: flex;
  justify-content: center;
}

.about-section {
  font-size: 18px;
  width: 20%;
  height: 800px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8239670868347339) 100%,
    rgba(159, 159, 159, 0.5018382352941176) 100%,
    rgba(208, 208, 208, 1) 100%
  );
  padding: 30px;
  border-radius: 25px;
}

.aboutImg img {
  width: 100px;
  height: 250px;
  padding: 30px;
  border-radius: 25px;
}

img {
  height: 311px;
}

.aboutImg {
  border-radius: 25px;
}

.drafted-card {
  position: relative;
  margin: 5px;
}

.drafted-card:hover {
  outline: none;
  border-color: #9ecaed;
  border-radius: 25px;
  box-shadow: 0 0 35px #9ecaed;
}

.drafted-card img {
  border-radius: 25px;
}

.card {
  margin: 5px;
}

.card:hover {
  outline: none;
  border-color: #9ecaed;
  border-radius: 25px;
  box-shadow: 0 0 35px #9ecaed;
}

.card img {
  border-radius: 25px;
}

.card img:hover {
  border-radius: 25px;
}

.drafted-card-button {
  position: absolute;
  z-index: 2;
  top: 132px;
  display: none;
  left: 59px;
}

.drafted-card:hover .drafted-card-button {
  display: block;
}

.header {
  display: flex;
  top: 0px;
  margin: 0;
  height: 15vh;
  width: 100%;
  background-color: black;
}

.navLinks {
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
  margin: 10px;
  text-decoration: none;
}

.Link {
  margin: 20px;
}

.logo {
  width: 125px;
  height: 60px;
  margin-left: 15px;
  margin-top: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}

.home-page {
  margin: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.login-form {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8239670868347339) 100%,
    rgba(159, 159, 159, 0.5018382352941176) 100%,
    rgba(208, 208, 208, 1) 100%
  );
  padding: 30px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin: 15px;
  margin-top: 15px;
}

input,
select,
textarea {
  color: black;
}

.form-input {
  display: flex;
  flex-direction: column;
}


.footer {
  padding-top: 15px;
  position: fixed;
  justify-content: center;
  text-align: center;
  align-items: center;
  bottom: 0px;
  margin: 0;
  height: 5vh;
  width: 100%;
  background-color: black;
  color: white;
  font-weight: bold;
}

.deck-container {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8239670868347339) 100%,
    rgba(159, 159, 159, 0.5018382352941176) 100%,
    rgba(208, 208, 208, 1) 100%
  );
  padding: 30px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin: 15px;
  margin-top: 165px;
  padding-bottom: 55px;
}

.deck-creation {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8239670868347339) 100%,
    rgba(159, 159, 159, 0.5018382352941176) 100%,
    rgba(208, 208, 208, 1) 100%
  );
  padding: 30px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin: 15px;
  margin-top: 165px;
  padding-bottom: 55px;
}

.deck {
  margin: 30px;
  color: white;
}

.deck:hover {
  outline: none;
  border-color: #9ecaed;
  border-radius: 25px;
  box-shadow: 0 0 35px #9ecaed;
}

.edit-deck {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8239670868347339) 100%,
    rgba(159, 159, 159, 0.5018382352941176) 100%,
    rgba(208, 208, 208, 1) 100%
  );
  padding: 30px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin: 15px;
  margin-top: 165px;
  padding-bottom: 55px;
}

.draft-dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: white;
  font-weight: bold;
}

.draft-dropdowns select {
  margin: 10px;
}

.draft-container {
  margin: 100px;
}

.loading {
  text-align: center;
}

.loading {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: spinner infinite 2s linear;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navLinks a {
  color: goldenrod;
  font-weight: bold;
  text-decoration: none;
}

.navLinks a:visited {
  color: purple;
  font-weight: bold;
  text-decoration: none;
}

button {
  box-shadow: inset 0px 0px 0px 0px #9285f2;
  background: linear-gradient(to bottom, #0d1fe3 5%, #170e99 100%);
  background-color: #0d1fe3;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 28px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #240cad;
  margin: 15px;
}

button:hover {
  background: linear-gradient(to bottom, #170e99 5%, #0d1fe3 100%);
  background-color: #170e99;
}

