.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  height: 100%;
  background-image: url('./images/background.jpg');
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.deck-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

/* .choose-cards {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 15px;
} */
/* .deck {
  display: flex;
  justify-content: center;
} */
/* .header-text {
  display: flex;
  flex-direction: column;
} */
/* h3 {
  display: flex;
  flex-direction: column;
} */

img {
  height: 311px;
}

.drafted-card{
  position:relative;
	background: #f90;
  margin: 5px;
}

.drafted-card-button{
  position: absolute;
  z-index: 2;
  top: 44px;
  display: none;
  left: 59px;
}

.drafted-card:hover .drafted-card-button{ 
	display:block;
}